
@{
    ViewData["Title"] = "MeetingPageView";
}

<style>
    .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    /* Green */
    .buttonJoin {
        background-color: #4CAF50;
    }

    /* Red */
    .buttonDecline {
        background-color: #ff0000;
    }

    /* Blue */
    .buttonSnooze {
        background-color: #ff0000;
    }

    /* Dropdown Button */
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }

</style>

<script>
/*    function clickJoin() {
        document.getElementsByClassName("buttonSnooze").innerHTML = "Hello World";
    }*/


    /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
    function clickSnooze() {
        debugger;
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

</script>

<h1>MeetingPageView</h1>
<button class="button buttonJoin">Join</button>
<div class="dropdown">
    <button class="button buttonSnooze dropbtn" onclick="clickSnooze()">Running Late</button>
    <div id="myDropdown" class="dropdown-content">
        <id>2 min</id>
        <id>5 min</id>
        <id>10 min</id>
    </div>
 </div>
 <button class="button buttonDecline">Decline</button>
