@{
    ViewData["Title"] = "Meeting";
}

<script>
    function entermeeting() {
        var meetingId = document.getElementById("meeting").value;
        var username = document.getElementById("name").value;
        var alias = document.getElementById("alias").value;
        window.location = "Meeting/Search?meetingId=" + meetingId + "&name=" + username + "&alias=" + alias;
    }
</script>

<body>
    <form id="form1" runat="server">
        <div>
            <div>
                <table>
                    <tr>
                        <td style="width: 500px; text-align: center" colspan="2">
                            <strong style="color:darkslateblue">Enter the meeting Id, name and alias to join the meeting</strong>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <table>
                <tr>
                    <td style="width: 200px; text-align: right">
                        <strong style="color:firebrick">Meeting Id</strong>:
                    </td>
                    <td style="width: 100px">
                        <input type="text" id="meeting" name="meeting">
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px; text-align: right">
                        <strong style="color:firebrick">Alias</strong>:
                    </td>
                    <td style="width: 100px">
                        <input type="text" id="alias" name="alias">
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px; text-align: right">
                        <strong style="color:firebrick">Name</strong>:
                    </td>
                    <td style="width: 100px">
                        <input type="text" id="name" name="name">
                    </td>
                </tr>
            </table>
            <br />
            <table>
                <tr>
                    <td style="width: 500px" align="center">
                        <input style="background-color:darkslateblue; color:white" type="button" id="joinmeeting" value="Search Meeting" onclick="entermeeting()">
                    </td>
                </tr>
            </table>

        </div>
    </form>
</body>