@{
    ViewData["Title"] = "Meeting";
}

<script>
</script>

<body>
    <form id="form2" runat="server">
        <div>
                <table>
                    <tr>
                        <td style="width: 500px; text-align: center" colspan="2">
                            <strong style="color:darkslateblue">This is Joined Meeting page</strong>
                        </td>
                    </tr>
                </table>
            </div>
    </form>
</body>